:root {
  --clr-bg: #0a0a0a;  
  --inner-bg: rgba(29, 29, 29, 0.2); 
  --clr-text: #f5f5f5; 
  --clr-muted-text: #a3a3a3;
  --clr-primary-green: #00FF88; 
  --clr-soft-green: #00e676; 
  --gradient-border: linear-gradient(135deg, #000000, #00FF88, #000000);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--clr-bg);
  color: var(--clr-text);
}

header {
  background: rgba(0, 255, 136, 0.05); 
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(0, 255, 136, 0.2);
  height: 60px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 255, 136, 0.2);
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}

.name {
  color: var(--clr-primary-green);
  font-weight: 600;
}

.nav-link {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-link a {
  color: var(--clr-primary-green);
  text-decoration: none;
  font-size: 0.9rem;
}

.nav-link a:hover {
  font-size: 1rem;
}

#hero {
  width: 100%;
  height: auto;
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35rem;
  width: 70%;
  margin: 2rem auto;
  border-radius: 0.8rem;
  background: var(--inner-bg);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0,255,136,0.2);
  box-shadow: 0 0 20px rgba(0, 255, 136, 0.2);
  padding: 4px;
}

.container-inside {
  height: 98.1%;
  width: 98.6%;
  background: var(--inner-bg);   
  backdrop-filter: blur(10px);
  border-radius: 0.5rem;
  border: 1px solid rgba(0,255,136,0.2);
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2rem;
}

.hero-content {
  padding: 3rem 5rem;
  line-height: 2rem;
  align-content: center;
}

.hello {
  margin: 0.5rem 0;
  color: var(--clr-primary-green);
  font-size: 1.5rem;
}

.hero-content h1 {
  font-size: 35px;
  line-height: 1.25;
}

.hero-content span {
  color: var(--clr-primary-green);
}

.btn {
  display: flex;
  justify-content: center;
  width: 15rem;
  border-radius: 1rem;
  background-color: var(--clr-primary-green);
  margin-top: 3rem;
}

.btn a {
  color: var(--clr-bg);
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 2rem;
}

.btn:hover {
    background-color: var(--inner-bg);
    border: 1px solid #00e676;
    box-shadow: 0 0 30px rgba(0, 255, 136, 0.3);
}

.btn:hover a {
    color: #00e676;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  border: 1px solid rgba(0, 255, 136, 0.344);
  background: var(--inner-bg);
  padding: 4px;
  position: relative; /* for layering if needed */
  box-shadow: 0 0 30px rgba(0, 255, 136, 0.3);
}

.inner-circle {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  background: rgba(29, 29, 29, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0,255,136,0.2);
  display: flex;
  align-items: center;
  justify-content: center;

}

.profile-pic {
  width: 10.9rem;
  border-radius: 50%;
  height: 10.9rem;
  border: 2px solid var(--clr-bg);
}

#about {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-content {
  max-width: 75rem;
  margin: 2rem auto;
  padding: 2rem;
  text-align: justify;
  font-size: 22px;
  line-height: 1.5;
}

.about-content span {
  color: var(--clr-primary-green);
}

.education-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.education-container h2 {
  color: var(--clr-text);
  font-size: 1rem;
  margin-bottom: 3rem;
}

.education-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  width: 100%;
  height: 6rem;
  background: var(--inner-bg);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0,255,136,0.2);
  box-shadow: 0 0 20px rgba(0, 255, 136, 0.1);
  margin: 1rem;
  line-height: 1.5;
  border-radius: 0 1.5rem 1.5rem 0;
}

.education-card:hover {
  box-shadow: 0 0 30px rgba(0, 255, 136, 0.3);
}

.timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.education-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
}

.sub-heading {
    color: var(--clr-text);
    font-size: 1rem;
    line-height: 8rem;
    text-align: center;
}

.section-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  max-width: 75rem;
  margin: 2rem auto;
  padding: 0 2rem;
}

.skill-cards {
    height: 11rem;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(0, 255, 136, 0.3);
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill-cards:hover {
  box-shadow: 0 0 15px rgba(0, 255, 128, 0.3);
}

.progress-ring-bg {
    fill: none;
    stroke: rgba(255, 255, 255, 0.2);
    stroke-width: 6;
}

.progress-ring-progress {
    fill: none;
    stroke: var(--clr-primary-green);
    stroke-width: 6;
    stroke-linecap: round;
    stroke-dasharray: 220;
}

.html-ring {
    stroke-dashoffset: calc(220 - (220 * 0.90));
}

.css-ring {
    stroke-dashoffset: calc(220 - (220 * 0.85));
}

.boot-ring, .figma-ring {
    stroke-dashoffset: calc(220 - (220 * 0.80));
}

.js-ring, .python-ring {
    stroke-dashoffset: calc(220 - (220 * 0.70));
}

.percentage-text{
    fill: #00e676;
    font-size: 1rem;
    font-weight: bold;
}

.project-cards {
    height: 22rem;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(0, 255, 136, 0.3);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-cards p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
}

.project-cards span {
  color: var(--clr-primary-green);
}

.project-cards:hover {
  box-shadow: 0 0 15px rgba(0, 255, 128, 0.3);
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: 0.5rem;
  background: var(--clr-soft-green);
  border: 1px solid rgba(0, 255, 136, 0.3);
  margin: 1rem 3rem 2rem 3rem;
}

.brands {
  color: black;
}

.icons:hover {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 15px rgba(0, 255, 128, 0.3);
}

.icons:hover .brands{
  color: var(--clr-primary-green);
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  color: var(--clr-muted-text);
  font-size: 0.9rem;
  background: rgba(255, 255, 255, 0.05);
  border-top: 1px solid rgba(0, 255, 136, 0.3);
}

html {
  scroll-behavior: smooth;
}
